@using Microsoft.AspNetCore.Mvc;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Assignment</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Assignment.styles.css" asp-append-version="true" />
</head>
<body style="background-color:whitesmoke;margin-bottom: 0px">
	<header>
		<nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark">
			<div class="container">
				<a asp-area="" asp-controller="Home" asp-action="Index"><img src="img/icon.webp" style="width:200px;height:auto" alt="Five cats looking around a field." /></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<form class="d-flex" role="search" style="margin-left:15px;background-color: white;border-radius: 10px;padding: 3px;width:600px">
								<input class="form-control me-2" type="search" placeholder="Bạn đang tìm gì..." aria-label="Search" style="border-color:white">
								<button class="btn btn-outline-success" type="submit" style="background-color:black;border-color: black;width:100px;height:40px">
									<img src="img/icons8-search-24.png" alt="">
								</button>
							</form>
						</li>
						@if (Context.Session.GetString("UserName") == null)
						{
							<li class="nav-item btn-nav1" style="margin-top:5px">
								<a class="navbar-link" style="color:white;font-weight:bold;text-decoration:none;" asp-area="" asp-controller="Home" asp-action="RegisterView">
									<img src="img/icons8-key-security-24.png" alt="Logo" class="d-inline-block">
									Đăng ký
								</a>
							</li>
							<li class="nav-item btn-nav1" style="margin-top:5px">
								<a class="navbar-link" style="color:white;font-weight:bold;text-decoration:none;" asp-area="" asp-controller="Home" asp-action="LoginView">
									<img src="img/icons8-enter-24.png" alt="Logo" class="d-inline-block ">
									Đăng nhập
								</a>
							</li>
						}
						else
						{
							<li class="nav-item btn-nav1 dropdown" style="margin-top:5px">
								<a class="navbar-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;font-weight:bold;weight:30px;text-decoration:none;">
									<img src="img/icons8-user-24.png" alt="Logo" class="d-inline-block">
									Người dùng
								</a>
								<ul class="dropdown-menu">
									@if (Context.Session.GetString("UserRole") == "Admin")
									{
										<li><a asp-area="" asp-controller="Home" asp-action="ManageBill" class="dropdown-item">Quản lí hóa đơn</a></li>
										<li><a asp-area="" asp-controller="Home" asp-action="ListClotheses" class="dropdown-item">Quản lí sản phẩm</a></li>
										<li><a asp-area="" asp-controller="Home" asp-action="Chart" class="dropdown-item">Thống kê</a></li>
									}
								</ul>
							</li>
						}
						<li class="nav-item btn-nav1">
							<a class="navbar-link" style="color:white;font-weight:bold;text-decoration:none;" asp-area="" asp-controller="Home" asp-action="ShowCart">
								<button type="button" class="btn position-relative">
									<img src="img/icons8-shopping-cart-24.png" alt="Logo" class="d-inline-block">
									<span class="position-absolute top-0 start-50 badge rounded-pill bg-white" style="color:black;">
										0
									</span>
								</button>
								Giỏ hàng
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- navbar2 -->
		<div class="d-flex justify-content-center">
			<nav class="navbar navbar-expand-lg " style="margin-bottom:10px;background-color: white;width:100%">
				<div class="container">
					<div class="collapse navbar-collapse d-flex justify-content-center" id="navbarText">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" style="font-weight:bold;color:black" asp-area="" asp-controller="Home" asp-action="Index">
									TRANG CHỦ
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="font-weight:bold;color:black">
									SALE UP TO 70%
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="font-weight:bold;color:black" asp-area="" asp-controller="Home" asp-action="ShowClotheses">
									SẢN PHẨM
								</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight:bold;color:black">
									BỘ SƯU TẬP
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item">Action</a></li>
									<li><a class="dropdown-item">Another action</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item">Something else here</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight:bold;color:black">
									HƯỚNG DẪN - CHÍNH SÁCH
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item">Action</a></li>
									<li><a class="dropdown-item">Another action</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item">Something else here</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="font-weight:bold;color:black">
									ĐỊA CHỈ CỬA HÀNG
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="font-weight:bold;color:black">
									GIỚI THIỆU
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<div class="modal" tabindex="-1" role="dialog" id="form-model">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				</div>
			</div>
		</div>
	</div>
	<footer class="text-center text-lg-start bg-dark text-muted">
		<!-- Section: Social media -->
		<div>
			<a class="me-4 text-reset">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a class="me-4 text-reset">
				<i class="fab fa-twitter"></i>
			</a>
			<a class="me-4 text-reset">
				<i class="fab fa-google"></i>
			</a>
			<a class="me-4 text-reset">
				<i class="fab fa-instagram"></i>
			</a>
			<a class="me-4 text-reset">
				<i class="fab fa-linkedin"></i>
			</a>
			<a class="me-4 text-reset">
				<i class="fab fa-github"></i>
			</a>
		</div>
		<!-- Right -->
		</section>
		<!-- Section: Social media -->
		<!-- Section: Links  -->
		<section class="">
			<div class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ft">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4" style="color:white">
							<i class="fas fa-gem me-3"></i>GIỚI THIỆU
						</h6>
						<ul>
							<li>
								<a class="text-reset" style="color: white !important;">Về chúng tôi</a>
							</li>
							<li>
								<a class="text-reset" style="color: white !important;">Lĩnh vực hoạt động</a>
							</li>
							<li>
								<a class="text-reset" style="color: white !important;">Hỏi đáp</a>
							</li>
							<li>
								<a class="text-reset" style="color: white !important;">Quy chế hoạt động</a>
							</li>
							<li>
								<a class="text-reset" style="color: white !important;">Tuyển dụng</a>
							</li>
						</ul>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ft">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4" style="color: white !important;">
							<i class="fas fa-gem me-3"></i>TRỢ GIÚP
						</h6>
						<ul class="ft">
							<li>
								<a class="text-reset" style="color: white !important;">Hướng dẫn thanh toán</a>
							</li>
							<li>
								<a class="text-reset" style="color: white !important;">Quy định đổi trả</a>
							</li>
							<li>
								<a class="text-reset" style="color: white !important;">Chính sách bán hàng</a>
							</li>
							<li>
								<a class="text-reset" style="color: white !important;">Chính sách bảo mật</a>
							</li>
							<li>
								<a class="text-reset" style="color: white !important;">Quy định thảo luẩn</a>
							</li>
						</ul>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4" style="color: white !important;">
							THÔNG TIN CÔNG TY
						</h6>
						<p style="color: white !important;">
							CÔNG TY TNHH PHÁT TRIỂN CÔNG NGHỆ RUNTIME
						</p>
						<p style="color: white !important;">
							<img src="img/icons8-location-24.png" alt="...">
							5/12A Quang Trung, P.14, Q.Gò Vấp, Tp.HCM
						</p>
						<p style="color: white !important;">
							<img src="img/icons8-envelope-24.png" alt="...">
							info@runtime.vn
						</p>
						<p style="color: white !important;">
							<img src="img/icons8-phone-24-w.png" alt="...">
							Phone: (08) 66 85 85 38
						</p>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4" style="color: white !important;">FACEBOOK</h6>
						<p><i class="fas fa-home me-3"></i></p>
						<p>
							<i class="fas fa-envelope me-3"></i>
							<img src="img/icons8-google-plus-48.png" alt="...">
							<img src="img/icons8-facebook-50.png" alt="...">
							<img src="img/icons8-youtube-squared-50.png" alt="...">
							<img src="img/icons8-twitter-squared-50.png" alt="...">
						</p>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
