@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <div style="background-color:whitesmoke;padding: 100px;">
        <form style="width:450px;margin:0px auto;border: solid white 1px;background-color: white;padding: 20px;">
            <p class="dn" style="text-align:center;font-weight:bold;font-size: 20px;margin-bottom: 0px;">ĐĂNG NHẬP TÀI KHOẢN</p>
            <p class="dn" style="text-align:center;margin-bottom: 0px;">Nhập email và mật khẩu của bạn:</p>
            <div class="mb-3">
              <input class="form-control dn" placeholder="Nhập email hoặc số điện thoại" style="margin-bottom: 0px;" ng-model="ttdn">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control dn" id="exampleInputPassword1" placeholder="Mật khẩu" ng-model="mkdn">
            </div>
            <button type="submit" class="btn btn-primary dn" style="background-color:black;border-color:black;font-weight:bold" ng-click="dangNhap(ttdn,mkdn)">ĐĂNG NHẬP</button>
            <p class="dn" style="margin-bottom:0px">Khách hàng mới? <a href="#dangki" style="text-decoration:none;color:black;font-weight:bold">Tạo tài khoản</a></p>
            <p class="dn">Quên mật khẩu? <a href="#doimatkhau" style="text-decoration:none;color:black;font-weight:bold">Khôi phục mật khẩu</a></p>
          </form>
    </div>
    <script>

    </script>
 