@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="background-color:whitesmoke;padding: 100px;">
        <form method="post" style="width:450px;margin:0px auto;border: solid white 1px;background-color: white;padding: 20px;">
            <p class="dk" style="text-align:center;font-weight:bold;font-size: 20px;">TẠO TÀI KHOẢN</p>
            <!-- <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1" style="margin-right:20px">
                Đăng kí bằng email
            </label>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
            <label class="form-check-label" for="flexRadioDefault1">
                Đăng kí bằng số điện thoại
            </label> -->
            <div class="mb-3" style="margin-top:20px">
              <input class="form-control dk" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Họ" style="margin-bottom: 0px;" ng-model="ho">
            </div>
            <div class="mb-3">
              <input class="form-control dk" id="exampleInputPassword1" placeholder="Tên" ng-model="ten">
            </div>
            <div class="mb-3">
              <input class="form-control dk" id="exampleInputPassword1" placeholder="Ngày sinh" ng-model="ngaysinh">
            </div>
            <div class="mb-3">
              <input class="form-control dk" id="exampleInputPassword1" placeholder="Số điện thoại" ng-model="sdt">
            </div>
            <div class="mb-3">
              <input class="form-control dk" id="exampleInputPassword1" placeholder="Email" ng-model="email">
            </div>
            <div class="mb-3">
              <input class="form-control dk" id="exampleInputPassword1" placeholder="Mật khẩu" ng-model="matkhau">
            </div>
            <button ng-click="addKH()" class="btn btn-primary dk" style="background-color:black;border-color:black;font-weight:bold">ĐĂNG KÍ</button>
          </form>
    </div>
 